[user]
	name = Greg D. Hill
	email = greghill@cs.stanford.edu
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[alias]
	cam = commit -am
	cb = checkout -b
	du = diff @{u}
	k = log --graph --abbrev-commit --oneline --decorate
	ka = log --graph --abbrev-commit --oneline --decorate --branches --tags --remotes
	aa = log --graph --abbrev-commit --oneline --decorate --all
[push]
	default = simple
